* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline; 
    /* 커서 올릴 때 밑줄 생성 */
}